[Desktop Entry]
Name=Lumo by Proton
Exec=brave --profile-directory="Profile 2" https://lumo.proton.me/guest
Type=Application
Icon=brave
Categories=Network;

